<launch>
    
    <!-- select group_name: left_arm or right_arm -->
    <arg name="group_name" default="right_arm" />
    
    <!-- resolution in m -->
    <arg name="r" default="0.05" />
    <!-- theta_resolution (unsigned int) -->
    <arg name="t" default="8" />
    <!-- Gripper orientation x (double) -->
    <arg name="go_x" default="1" />
    <!-- Gripper orientation y (double) -->
    <arg name="go_y" default="0" />
    <!-- Gripper orientation z (double) -->
    <arg name="go_z" default="0" />
    
	<!-- bounding box -->   
    <arg name="x1" value="-3.0" />
    <arg name="x2" value="3.0" />
    
    <arg name="y1" value="-3.0" />
    <arg name="y2" value="3.0" />
    
    <arg name="z1" value="2.0" />
    <arg name="z2" value="-2.0" />

	<!-- DO NOT CHANGE PARAMETERS BELOW -->

    <arg name="path_name" value="$(find inverse_capability_3dmap_generator)/maps/inv_cap_pr2_$(arg group_name)_$(arg r)m_$(arg t)t.icpm" />
    <arg name="path_capa" value="$(find capability_map_generator)/maps/pr2_map_$(arg group_name)_2.5cm.cpm" />

    <node pkg="inverse_capability_3dmap_generator" type="inverse_capability3d_generator" 
    	name="inverse_capability_3dgenerator"
    	args="-p $(arg path_name) -c $(arg path_capa)
    	-r $(arg r) -t $(arg t)
	-g $(arg go_x) -g $(arg go_y) -g $(arg go_z)
    	-x $(arg x1) -x $(arg x2) -y $(arg y1) -y $(arg y2) -z $(arg z1) -z $(arg z2)"
    	output="screen" required="true">
    </node>
</launch>
